body {
    display: flex;
    justify-content: center;
    background-image: url(/assets/images/coolback.jpg);
    background-size: cover;
}
.btnbtn {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
#page1 {
    color: black;
    background-color: rgb(75, 92, 110);
    font-size: xx-large;
    padding: 30px;
    border-radius: 8px;
    text-decoration: none;
    text-shadow: 5px;
}
p {
    margin-bottom: 40px;
    font-size: x-large;
    margin-right: 40px;

}